/* Universal Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Bar */
nav {
    background-color: rgb(32, 7, 99);
    padding: 10px;
}

nav a {
    color: rgb(248, 244, 244);
    display:inline-table;
    padding: 20px;
    text-decoration: none;
}

/* Headings */
h1 {
    color: darkblue;
}

/* Main Profile Image */
main img {
    width: 170px;
    height: auto;
    float: right;
    margin-left: 1rem;
    border: 1px solid rgb(33, 23, 167);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    border-radius: 4px;
}

/* Paragraph Styling */
p {
    width: 500px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: justify;
    padding: 10px;
}

/* Main Layout */
main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

/* Aside Section */
aside {
    position: relative;
    width: 25em;
    text-align: center;
    padding: 20px;
    align-self: center;
    margin: 20px auto;
    background-color: rgb(234, 227, 245);
    border: 1px solid darkblue;
    color: darkblue;
}

aside img {
    width: 200px;
    height: auto;
    alignment-baseline: central;
}

/* Overlay Heading inside Aside */
aside h2 {
    position: absolute;
    top: 30px;
    left: 5px;
    background-color: rgba(147, 119, 212, 0.5);
    color: white;
    padding: 5px;
    border-radius: 4px;
}

/* Footer */
footer {
    margin-bottom: 15px;
    border-top: 1px solid darkblue;
    text-align: center;
    padding: 10px;
}

/* Class Selectors */
.box {
    background-color: rgb(202, 221, 228);
    margin: 1rem;
    border: 1px solid rgba(221, 193, 193, 0.1);
    padding: 1rem;
    color: rgb(56, 56, 134);
    box-shadow: 0 0 10px gray;
}
